.popup__input {
    margin-bottom: 30px;
    width: 358px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #000000;
}

.popup__input:focus {
    outline: 0;
}

@media screen and (max-width: 540px) {
    .popup__input {
        width: 238px;

    }
}
