.profile__about {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 121%;
  color: #FFFFFF;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 250px;
  min-width: 250px;
  align-self: flex-end;
  padding-top: 16px;
}


@media screen and (max-width: 730px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 36px;
    padding-top: 14px;
    max-width: 200px;
    min-width: 200px;
  }
}

@media screen and (max-width: 320px) {
  .profile__about {
    padding-top: 10px;
    padding-bottom: 33px;
  }
}
