.profile {
    display: flex;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 51px;
    align-items: center;
    height: 120px;
}


@media screen and (max-width: 690px) {
    .profile {
        padding-bottom: 36px;
        flex-direction: column;
        height: 286px;
    }
}

