.profile__edit {
  background-color: transparent;
  background-image: url(../../../images/edit/edit.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  margin-left: 18px;
  margin-bottom: 8px;
  margin-top: 0;
  align-self: flex-end;
}

.profile__edit:hover {
  opacity: 0.6;
  cursor: pointer;
}


@media screen and (max-width: 690px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-bottom: 6px;
  }
}
