.popup__title-image {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin: 10px 0 0 0;
}

/*@media screen and (max-width: 540px) {*/
/*    .popup__title {*/
/*        font-size: 18px;*/
/*        line-height: 22px;*/
/*        width: 238px;*/
/*        padding-top: 25px;*/
/*        padding-bottom: 70px;*/
/*        margin-left: 22px;*/
/*    }*/
/*}*/
