.elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 17px;
    row-gap: 20px;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 67px;
}


@media screen and (max-width: 918px) {
    .elements {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        max-width: 581px;
    }
}

@media screen and (max-width: 690px) {
    .elements {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        max-width: 320px;
        padding-bottom: 48px;
    }
}
