.profile__info {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  max-width: 336px;
  margin: 0;
}

@media screen and (max-width: 730px) {
  .profile__info {
    justify-content: center;
    margin-left: 19px;
    margin-right: 19px;
    max-width: 282px;
  }
}
